legacy-peer-deps=true
//registry.npmjs.org/:_authToken=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
# //registry.npmjs.org/:_password=${ secrets.NPM_PASSWORD }
//registry.npmjs.org/:username=risini_digital400
//registry.npmjs.org/:email=risinip@digital400.com
always-auth=false